.tr{
    display: grid;
    grid-template-columns: 1fr .7fr .7fr 1fr;

    &.even-row{
        background-color: #DDD;
    }
    
    &.odd-row{
        background-color: #FFF;
    }

    & .td{
        font-size: 1.3rem;
        padding-block: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}