<app-header></app-header>
<app-spinner></app-spinner>

<!--- SECTION 2 - PRODUCT --->
<section class="product-container">
    <div class="product-content">
        <div class="product-imgs">
            <img src="assets/images/produto2.png" alt="Produto">
        </div>

        <div class="product-details">
            <h2 class="product-name">{{ product?.name }}</h2>

            <div class="product-rating">
                <span class="stars">
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                </span>

                <span class="qtd-rating">4.7 (10 avaliações)</span>
            </div>

            <div class="product-colors">
                <p>Cores</p>

                <div class="options-color">
                    <span class="green"></span>
                    <span class="orange"></span>
                    <span class="blue"></span>
                </div>
            </div>

            <div class="product-price">
                <span class="min-price">Lance mínimo R$ {{ product?.minAuctionPrice | currency }}</span>
            </div>

            <form>
                <div class="wrap-actions-bid" [class.hide]="bidMade">
                    <div class="product-inputs">
                        <label class="wrap-input">
                            <p class="title-item">Valor do Lance:</p>
                            <input type="text" id="txtBidValue" name="txtBidValue" class="form-field" [(ngModel)]="bidInfos.bidAmount">
                        </label>

                        <label class="wrap-input">
                            <p class="title-item">Qtd:</p>
                            <input type="number" id="txtQtdItem" name="txtQtdItem" class="form-field" [(ngModel)]="bidInfos.qtdProduct">
                        </label>
                    </div>

                    <div class="product-buttons">
                        <button class="btn btn-primary btn-large" (click)="onBid()">Dar Lance <i class="ph ph-gavel"></i></button>
                    </div>
                </div>

                <div class="bid-sent" [class.hide]="hasBid">
                    <p class="p-bid-sent">Seu lance para esse produto já foi realizado e registrado com sucesso.</p>
                    <p class="p-bid-sent">Por favor, aguarde enquanto o fornecedor analisa a sua oferta.</p>
                    <p class="p-bid-sent">Você deverá receber uma resposta em até 24h.</p>
                </div>
            </form>
        </div>
    </div>

    <div class="product-more-info">
        <div class="product-wrap-toggle">
            <div class="toggle-title" (click)="toogleDetails()">
                <span>Informações do Produto</span>
                <span><i class="ph ph-plus"></i></span>
            </div>

            <div class="toggle-details" [class.hide-toggle]="!showDetails">
                {{ product?.specifications?.description }}
            </div>
        </div>

        <div class="product-wrap-toggle">
            <div class="toggle-title" (click)="toogleRefundPolicy()">
                <span>Política de devolução e reembolso</span>
                <span><i class="ph ph-plus"></i></span>
            </div>

            <div class="toggle-details hide-toggle" [class.hide-toggle]="!showRefundPolicy">
                Sou uma política de devolução e reembolso. Eu sou um ótimo lugar para deixar seu
                os clientes sabem o que fazer caso estejam insatisfeitos com
                sua compra. Ter um reembolso ou troca simples
                política é uma ótima maneira de construir confiança e tranquilizar seus clientes
                que eles podem comprar com confiança.
            </div>
        </div>

        <div class="product-wrap-toggle">
            <div class="toggle-title" (click)="toogleShippingInfo()">
                <span>Informações de Envio</span>
                <span><i class="ph ph-plus"></i></span>
            </div>

            <div class="toggle-details hide-toggle" [class.hide-toggle]="!showShippingInfo">
                Eu sou uma política de envio. Sou um ótimo lugar para adicionar mais informações
                sobre seus métodos de envio, embalagem e custo. Fornecendo
                informações diretas sobre sua política de envio são uma
                ótima maneira de construir confiança e garantir a seus clientes que eles
                pode comprar de você com confiança.
            </div>
        </div>
    </div>

    <div class="product-feedbacks">
        <h2>Avaliação dos clientes</h2>

        <div class="wrap-feedback">
            <div class="summary-feedback">
                <div class="general-summary">
                    <div class="average">
                        <span>4.5</span>
                        <i class="ph-fill ph-star"></i>
                    </div>

                    <span class="total-evaluations"><b>498</b> avaliações</span>
                    <span class="total-comments"><b>10</b> comentários</span>
                </div>

                <div class="detailed-summary">
                    <div class="rating-row">
                        <span>5 <i class="ph-fill ph-star"></i></span>
                        <div class="rating-bar">
                            <div class="fill" style="width: 80%;"></div>
                        </div>
                        <span class="total-by-star">80</span>
                    </div>

                    <div class="rating-row">
                        <span>4 <i class="ph-fill ph-star"></i></span>
                        <div class="rating-bar">
                            <div class="fill" style="width: 60%;"></div>
                        </div>
                        <span class="total-by-star">60</span>
                    </div>

                    <div class="rating-row">
                        <span>3 <i class="ph-fill ph-star"></i></span>
                        <div class="rating-bar">
                            <div class="fill" style="width: 40%;"></div>
                        </div>
                        <span class="total-by-star">40</span>
                    </div>

                    <div class="rating-row">
                        <span>2 <i class="ph-fill ph-star"></i></span>
                        <div class="rating-bar">
                            <div class="fill" style="width: 20%;"></div>
                        </div>
                        <span class="total-by-star">20</span>
                    </div>

                    <div class="rating-row">
                        <span>1 <i class="ph-fill ph-star"></i></span>
                        <div class="rating-bar">
                            <div class="fill" style="width: 10%;"></div>
                        </div>
                        <span class="total-by-star">10</span>
                    </div>
                </div>
            </div>

            <div class="customer-comments">
                <div class="wrap-comment">
                    <div class="user-rating">
                        <span class="user-icon">
                            <i class="ph ph-user-circle"></i>
                        </span>

                        <span class="user-name">João</span>

                        <span class="user-stars">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                        </span>
                    </div>

                    <p class="comment">Esse produto é incrível</p>
                    <span class="date-comment">há 7 dias</span>
                </div>

                <div class="wrap-comment">
                    <div class="user-rating">
                        <span class="user-icon">
                            <i class="ph ph-user-circle"></i>
                        </span>

                        <span class="user-name">Carlos S.</span>

                        <span class="user-stars">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                        </span>
                    </div>

                    <p class="comment">A qualidade do som me surpreendeu! Graves potentes e bateria que dura bastante. Levo para todos os lugares!</p>
                    <span class="date-comment">há 7 dias</span>
                </div>

                <div class="wrap-comment">
                    <div class="user-rating">
                        <span class="user-icon">
                            <i class="ph ph-user-circle"></i>
                        </span>

                        <span class="user-name">Rafael</span>
                        <span class="user-stars">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                        </span>
                    </div>

                    <p class="comment">Muito leve e prática! A qualidade do áudio é incrível, só achei que falta um pouco de potência nos graves.</p>
                    <span class="date-comment">há 7 dias</span>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
