<app-header></app-header>

<!--- SECTION 2 - PRODUCT --->
<section class="product-container">
    <div class="product-content">
        <div class="product-imgs">
            <img src="assets/images/produto1.png" alt="Produto">
        </div>

        <div class="product-details">
            <h2 class="product-name">Round Mini Portable Bluetooth Speaker</h2>

            <div class="product-rating">
                <span class="stars">
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                </span>

                <span class="qtd-rating">4.7 (10 reviews)</span>
            </div>

            <div class="product-colors">
                <p>COLORS</p>

                <div class="options-color">
                    <span class="green"></span>
                    <span class="orange"></span>
                    <span class="blue"></span>
                </div>
            </div>

            <div class="product-price">
                <span class="max-price">Lance Máximo R$ 400,00</span>
                <span class="min-price">Lance mínimo R$ 280,00</span>
            </div>

            <form (ngSubmit)="onBid()">
                <div class="wrap-actions-bid" [class.hide]="bidMade">
                    <div class="product-inputs">
                        <label class="wrap-input">
                            <p class="title-item">Valor do Lance:</p>
                            <input type="text" id="txtBidValue" name="txtBidValue" class="form-field" [(ngModel)]="bidInfos.bidAmount">
                        </label>

                        <label class="wrap-input">
                            <p class="title-item">Qtd:</p>
                            <input type="number" id="txtQtdItem" name="txtQtdItem" class="form-field" [(ngModel)]="bidInfos.qtdProduct">
                        </label>
                    </div>

                    <div class="product-buttons">
                        <button class="btn btn-primary btn-large" (click)="onBid()">Dar Lance <i class="ph ph-gavel"></i></button>
                    </div>
                </div>

                <div class="bid-sent" [class.hide]="!bidMade">
                    <p class="p-bid-sent">Seu lance para esse produto já foi realizado e registrado com sucesso.</p>
                    <p class="p-bid-sent">Por favor, aguarde enquanto o fornecedor analisa a sua oferta.</p>
                    <p class="p-bid-sent">Você deverá receber uma resposta em até 24h.</p>
                </div>
            </form>
        </div>
    </div>

    <div class="product-more-info">
        <div class="product-wrap-toggle">
            <div class="toggle-title">
                <span>Product Info</span>
                <span><i class="ph ph-plus"></i></span>
            </div>

            <div class="toggle-details hide-toggle">
                I'm a product detail. I'm a great place to add more information
                about your product such as sizing, material, care and cleaning
                instructions. This is also a great space to write what makes this
                product special and how your customers can benefit from this item.
            </div>
        </div>

        <div class="product-wrap-toggle">
            <div class="toggle-title">
                <span>Return & Refund Policy</span>
                <span><i class="ph ph-plus"></i></span>
            </div>

            <div class="toggle-details hide-toggle">
                I'm a Return and Refund policy. I'm a great place to let your
                customers know what to do in case they are dissatisfied with
                their purchase. Having a straightforward refund or exchange
                policy is a great way to build trust and reassure your customers
                that they can buy with confidence.
            </div>
        </div>

        <div class="product-wrap-toggle">
            <div class="toggle-title">
                <span>Shipping Info</span>
                <span><i class="ph ph-plus"></i></span>
            </div>

            <div class="toggle-details hide-toggle">
                I'm a shipping policy. I'm a great place to add more information
                about your shipping methods, packaging and cost. Providing
                straightforward information about your shipping policy is a
                great way to build trust and reassure your customers that they
                can buy from you with confidence.
            </div>
        </div>
    </div>

    <div class="product-feedbacks">
        <h2>Avaliação dos clientes</h2>

        <div class="wrap-feedback">
            <div class="summary-feedback">
                <div class="general-summary">
                    <div class="average">
                        <span>4.5</span>
                        <i class="ph-fill ph-star"></i>
                    </div>

                    <span class="total-evaluations"><b>498</b> avaliações</span>
                    <span class="total-comments"><b>10</b> comentários</span>
                </div>

                <div class="detailed-summary">
                    <div class="rating-row">
                        <span>5 <i class="ph-fill ph-star"></i></span>
                        <div class="rating-bar">
                            <div class="fill" style="width: 80%;"></div>
                        </div>
                        <span class="total-by-star">80</span>
                    </div>

                    <div class="rating-row">
                        <span>4 <i class="ph-fill ph-star"></i></span>
                        <div class="rating-bar">
                            <div class="fill" style="width: 60%;"></div>
                        </div>
                        <span class="total-by-star">60</span>
                    </div>

                    <div class="rating-row">
                        <span>3 <i class="ph-fill ph-star"></i></span>
                        <div class="rating-bar">
                            <div class="fill" style="width: 40%;"></div>
                        </div>
                        <span class="total-by-star">40</span>
                    </div>

                    <div class="rating-row">
                        <span>2 <i class="ph-fill ph-star"></i></span>
                        <div class="rating-bar">
                            <div class="fill" style="width: 20%;"></div>
                        </div>
                        <span class="total-by-star">20</span>
                    </div>

                    <div class="rating-row">
                        <span>1 <i class="ph-fill ph-star"></i></span>
                        <div class="rating-bar">
                            <div class="fill" style="width: 10%;"></div>
                        </div>
                        <span class="total-by-star">10</span>
                    </div>
                </div>
            </div>

            <div class="customer-comments">
                <div class="wrap-comment">
                    <div class="user-rating">
                        <span class="user-icon">
                            <i class="ph ph-user-circle"></i>
                        </span>

                        <span class="user-name">João</span>

                        <span class="user-stars">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                        </span>
                    </div>

                    <p class="comment">Esse produto é incrível</p>
                    <span class="date-comment">há 7 dias</span>
                </div>

                <div class="wrap-comment">
                    <div class="user-rating">
                        <span class="user-icon">
                            <i class="ph ph-user-circle"></i>
                        </span>

                        <span class="user-name">Carlos S.</span>

                        <span class="user-stars">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                        </span>
                    </div>

                    <p class="comment">A qualidade do som me surpreendeu! Graves potentes e bateria que dura bastante. Levo para todos os lugares!</p>
                    <span class="date-comment">há 7 dias</span>
                </div>

                <div class="wrap-comment">
                    <div class="user-rating">
                        <span class="user-icon">
                            <i class="ph ph-user-circle"></i>
                        </span>

                        <span class="user-name">Rafael</span>
                        <span class="user-stars">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                        </span>
                    </div>

                    <p class="comment">Muito leve e prática! A qualidade do áudio é incrível, só achei que falta um pouco de potência nos graves.</p>
                    <span class="date-comment">há 7 dias</span>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
