<footer>
  <div class="subscribe">
      <div class="grid-text">
          <h2>FIER</h2>

          <p>
              This is the space to introduce visitors to the business or brand. 
              Briefly explain who's behind it, what it does and what makes it unique. 
              Share its core values and what this site has to offer.
          </p>
      </div>
      
      <div class="wrap-subscribe">
          <h2>Subscribe to Our Newsletter</h2>

          <div class="form">
              <label class="form-email">
                  <span>E-mail *</span>
                  <input type="email"/>
              </label>
              
              <label class="form-checkbox">
                  <input type="checkbox">
                  Yes, subscribe me to your newsletter
              </label>
              
              <button class="btn btn-second">Submit</button>
          </div>
      </div>
  </div>
  
  <div class="business-information">
      <section class="wrap-navs-footer">
          <h2>Shop</h2>

          <nav>
              <ul>
                  <li><a href="##">Mobile & Wearable Tech</a></li>
                  <li><a href="##">Drones & Cameras</a></li>
                  <li><a href="##">Headphones & Speakers</a></li>
                  <li><a href="##">Computers</a></li>
                  <li><a href="##">Tablets</a></li>
                  <li><a href="##">TV & Home Cinema</a></li>
              </ul>
          </nav>
      </section>

      <section class="wrap-navs-footer">
          <h2>Legal</h2>

          <nav>
              <ul>
                  <li><a href="##">Terms & Conditions</a></li>
                  <li><a href="##">Privacy Policy</a></li>
                  <li><a href="##">Shipping Policy</a></li>
                  <li><a href="##">Refund Policy</a></li>
                  <li><a href="##">Accessibility Statement</a></li>
                  <li><a href="##">FAQ</a></li>
              </ul>
          </nav>
      </section>

      <section class="wrap-navs-footer">
          <h2>Headquarters</h2>

          <nav>
              <ul>
                  <li><a href="##">500 Terry Francine Street</a></li>
                  <li><a href="##">San Francisco, CA 94158</a></li>
                  <li><a href="##">infoqualquercoisa.com</a></li>
                  <li><a href="##">123-456-7890</a></li>
              </ul>
          </nav>
      </section>

      <section class="wrap-navs-footer">
          <h2>Socials</h2>

          <nav>
              <ul>
                  <li><a href="##">TikTok</a></li>
                  <li><a href="##">Instagram</a></li>
                  <li><a href="##">Facebook</a></li>
                  <li><a href="##">YouTube</a></li>
              </ul>
          </nav>
      </section>
  </div>

  <div class="last-infos">
      <div class="payments-information">
          <span>Pay Securely with</span>

          <div class="wrap-img-payments">
              <img src="assets/images/Visa.png">
              <img src="assets/images/mastercard.png">
              <img src="assets/images/paypal.png">
          </div>
      </div>

      <div class="copyright">
          <span>Copyright © 2035 - FIER Todos os direitos reservados</span>
      </div>
  </div>
</footer>