<footer>
  <div class="business-information">
      <section class="wrap-navs-footer">
          <h2>Categorias</h2>

          <nav>
              <ul>
                  <li><a href="##">Dispositivos Móveis</a></li>
                  <li><a href="##">Drones</a></li>
                  <li><a href="##">Headphones</a></li>
                  <li><a href="##">Computadores</a></li>
                  <li><a href="##">Tablets</a></li>
                  <li><a href="##">TVs</a></li>
              </ul>
          </nav>
      </section>

      <section class="wrap-navs-footer">
          <h2>Jurídico</h2>

          <nav>
              <ul>
                  <li><a href="##">Termos & Condições</a></li>
                  <li><a href="##">Política de Privacidade</a></li>
                  <li><a href="##">Política de reembolso</a></li>
                  <li><a href="##">Declaração de acessibilidade</a></li>
                  <li><a href="##">Perguntas frequentes</a></li>
              </ul>
          </nav>
      </section>

      <section class="wrap-navs-footer">
          <h2>Sede</h2>

          <nav>
              <ul>
                  <li><a href="##">Av. Yojiro Takaoka, 3500</a></li>
                  <li><a href="##">Santana de Parnaíba - SP</a></li>
                  <li><a href="##">ecommerce-invertido.com</a></li>
                  <li><a href="##">(11) 4152-8888</a></li>
              </ul>
          </nav>
      </section>

      <section class="wrap-navs-footer">
          <h2>Socials</h2>

          <nav>
              <ul>
                  <li><a href="##">TikTok</a></li>
                  <li><a href="##">Instagram</a></li>
                  <li><a href="##">Facebook</a></li>
                  <li><a href="##">YouTube</a></li>
              </ul>
          </nav>
      </section>
  </div>

  <div class="last-infos">
      <div class="payments-information">
          <span>Pague com segurança com</span>

          <div class="wrap-img-payments">
              <img src="assets/images/Visa.png">
              <img src="assets/images/mastercard.png">
              <img src="assets/images/paypal.png">
          </div>
      </div>

      <div class="copyright">
          <span>Copyright © 2024 - FIER Todos os direitos reservados</span>
      </div>
  </div>
</footer>