<app-header></app-header>

<section class="container-view-products">
    <h1>Listagem de Produtos</h1>

    <div class="filter-content">
        <label class="box box-name-product">
            <p class="title-item">Nome do Produto</p>
            <input type="text" id="productName" formControlName="productName" class="form-field">
        </label>

        <label class="box box-price-product">
            <p class="title-item">Preço <= (Menor que)</p>
            <input type="text" id="productPrice" formControlName="productPrice" class="form-field">
        </label>

        <label class="box box-category-product">
            <p class="title-item">Categoria</p>
            <select id="productCategory" formControlName="productCategory" class="form-field">
                <option value="">Selecione uma opção...</option>
                <option value="Mobile & Wearable Tech">Mobile & Wearable Tech</option>
                <option value="Drones & Cameras">Drones & Cameras</option>
                <option value="Headphones & Speakers">Headphones & Speakers</option>
                <option value="Computers Tablets">Computers Tablets</option>
                <option value="TV & Home Cinema">TV & Home Cinema</option>
            </select>
        </label>

        <button class="btn-filter">
            Filtrar
            <i class="ph ph-magnifying-glass"></i>
        </button>
    </div>

    <table class="tbl-list-products">
        <thead>
            <tr>
                <th>Nome Produto</th>
                <th>Categoria</th>
                <th>Valor Máximo de Lance</th>
                <th>Valor Mínimo de Lance</th>
                <th>Estoque</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of products">
                <td class="product-name">{{ product.name }}</td>
                <td class="product-category">{{ product.category }}</td>
                <td class="product-price-max">{{ product.priceMax | currency:'BRL' }}</td>
                <td class="product-price-min">{{ product.priceMin | currency:'BRL' }}</td>
                <td class="product-stock">{{ product.stock }}</td>
                <td class="product-actions">
                  <button><i class="ph ph-pencil"></i></button>
                  <button><i class="ph ph-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<app-footer></app-footer>