.container-view-products{
    margin: 5rem 2.5rem;
    padding: 2.5rem;
    border: 1px solid #DDD;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    display: grid;
    gap: 2rem;

    & h1{
        font-size: 3rem;
        border-bottom: 1px solid #DDD;
        color: #818181;
        font-weight: 500;
        padding-bottom: 1rem;
    }

    .tbl-list-products{
        width: 100%;
        text-align: center;
        border-collapse: collapse;

        & thead{
            border-bottom: 1px solid #DDD;
            & th{
                font-size: 2.3rem;
                font-weight: 400;
                padding-block: 1rem;
            }
        }

        & tbody{
            & tr{
                &:nth-child(even){
                    background-color: #FFF;
                }
                &:nth-child(odd){
                    background-color: #DDD;
                }

                & td{
                    font-size: 1.5rem;
                    padding-block: 1.5rem;

                    &.product-actions{
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        justify-content: center;

                        & button{
                            font-size: 2.5rem;
                            background-color: transparent;
                            padding-inline: 1rem;
                            transition: .3s ease-in-out;
                            border: none;

                            &:hover{
                                text-decoration: underline;
                                cursor: pointer;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }

        
    }
}