<header>
  <nav class="navbar-main">
      <h1 [routerLink]="['/']">FIER</h1>
      
      <input id="chkHamburguer" class="chk-hamburguer" type="checkbox" />
      <label for="chkHamburguer">
          <div class="menu">
              <span class="hamburguer"></span>
          </div>
      </label>

      <ul class="list-elements show">
          <li><a [routerLink]="['/list-products']" routerLinkActive="router-link-active" >Mobile & Wearable Tech</a></li>
          <li><a [routerLink]="['/list-products']" routerLinkActive="router-link-active" >Drones & Cameras</a></li>
          <li><a [routerLink]="['/list-products']" routerLinkActive="router-link-active" >Headphones & Speakers</a></li>
          <li><a [routerLink]="['/list-products']" routerLinkActive="router-link-active" >Computers</a></li>
          <li><a [routerLink]="['/list-products']" routerLinkActive="router-link-active" >Tablets</a></li>
          <li><a [routerLink]="['/list-products']" routerLinkActive="router-link-active" >TV & Home Cinema</a></li>
      </ul>

      <div class="search-bar">
          <input type="text" placeholder="Search..." class="txt-search" (input)="onSearchChange($event)">
      </div>

      <div class="users-info">
          <a [routerLink]="['/update-user']"><i class="ph-thin ph-user-circle"></i></a>
          <a [routerLink]="['/submitted-bids']"><i class="ph-thin ph-gavel"></i></a>
      </div>
  </nav>
</header>