<header>
  <nav class="navbar-main">
      <h1>FIER</h1>
      
      <input id="chkHamburguer" class="chk-hamburguer" type="checkbox" />
      <label for="chkHamburguer">
          <div class="menu">
              <span class="hamburguer"></span>
          </div>
      </label>

      <ul class="list-elements show">
          <li><a href="#">Mobile & Wearable Tech</a></li>
          <li><a href="#">Drones & Cameras</a></li>
          <li><a href="#">Headphones & Speakers</a></li>
          <li><a href="#">Computers</a></li>
          <li><a href="#">Tablets</a></li>
          <li><a href="#">TV & Home Cinema</a></li>
      </ul>

      <div class="search-bar">
          <input type="text" placeholder="Search..." class="txt-search">
      </div>

      <div class="users-info">
          <a href="##"><i class="ph-thin ph-user-circle"></i></a>
          <a href="##"><i class="ph-thin ph-heart"></i></a>
          <a href="##"><i class="ph-thin ph-shopping-cart-simple"></i></a>
      </div>
  </nav>
</header>