header{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
  background-color:  rgba(23, 23, 23, .4);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  & .navbar-main{
      width: 100%;
      display: grid;
      justify-content: center;
      padding: 0.5rem 1.5rem;
      background-color: #FFF;
      grid-template-columns: max-content 0 1fr 0.4fr max-content;
      gap: 1rem;
      align-items: center;

      & h1{
          color: #000;
          font-size: 3rem;
          text-align: center;
          cursor: pointer;
          transition: .3s ease-in-out;

          &:hover{
            transform: scale(1.1);
          }
      }

      & .chk-hamburguer {
          display: none;
      
          &:checked ~ label .hamburguer {
              transform: rotate(45deg);
              background-color: #FFF;
      
              &:before {
                  transform: rotate(90deg);
                  top: 0;
              }
              
              &:after {
                  transform: rotate(90deg);
                  bottom: 0;
                  background-color: #FFF;
              }
          }
      
          &:checked ~ .list-elements{
              left: 0;
          }
      }

      & .menu {
          width: 60px;
          height: 60px;
          border-radius: 5px;
          cursor: pointer;
          display: none;

          & .hamburguer {
              position: relative;
              display: block;
              background: #000;
              width: 30px;
              height: 2px;
              top: 29px;
              left: 15px;
              transition: 0.5s ease-in-out;
              
              &:before,
              &:after {
                  background-color: #000;
                  content: '';
                  display: block;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  transition: 0.5s ease-in-out;
              }
                
              &:before {
                  top: -10px;
              }
                
              &:after {
                  bottom: -10px;
              }
          }
      }
      
      & .list-elements{
          display: flex;
          width: 100%;
          height: 10vh;
          justify-content: space-around;
          align-items: center;
          gap: 1rem;
          
          & li{
              list-style: none;
              font-size: 1.4rem;
              margin: 2rem 0;
              font-size: 1.4rem;
              list-style: none;
          }
          
          & a{
              color: #000;
              text-decoration: none;
              
              &:hover{
                  color: rgba(20,20,20,.8);
                  text-decoration: underline;
              }
          }
          
      }

      & .search-bar{
          width: 100%;
          height: 50%;
          display: grid;
          grid-template-columns: 1fr 0.15fr;
          align-items: center;
          justify-content: center;
          border: 1px solid black;
          border-radius: 6rem;
          overflow: hidden;
          
          & .txt-search{
              width: 90%;
              height: 100%;
              border: none;
              background: none;
              text-align: center;
              margin: auto;

              &:focus{
                outline: none;
              }
          }

          & .btn-search{
            height: 100%;
            font-size: 2rem;
            border: none;
            background: none;
            cursor: pointer;

            &:hover{
                transform: scale(1.01);
            }
          }
      }

      & .users-info{
          display: flex;
          align-items: center;
          gap: 1.5rem;

          & a{
              font-size: 1.4rem;
              text-decoration: none;
              display: flex;
              align-items: center;
              gap: 0.5rem;
              color: black;
              transition: 0.2s;

              & i{
                  font-size: 2.6rem;
                  
                  &.ph-plus{
                    margin-left: -10px;
                    font-size: 1.5rem;
                  }
              }

              
              &:hover{
                  scale: 1.1;
              }
          }
      }
  }
}

/* ANIMATIONS
---------------------------------------*/
@keyframes divAnimated {
    to{
        transform: translateX(-100%);
    }
    
}

/* MEDIAS QUERIES
---------------------------------------*/

/* MOBILE */
@media (max-width: 1000px){
    /* ATIVAR O MENU DE HAMBURGUER PARA MOBILE */    
    header{
        height: 20%;

        .navbar-main{
            display: grid !important;
            grid-template-columns: max-content 1fr max-content;
            overflow: auto;
            z-index: 1;
            color: #FFF;
            align-items: center;
            column-gap: 1rem;
            row-gap: 0;
            
            grid-template-areas:
                "A A A"
                "B C D";
            grid-template-columns: max-content 1fr max-content;
            grid-template-rows: 1fr;

            & .menu{
                display: flex;
                height: 60px;
                width: 60px;
            }

            & h1{grid-area: A;}
            & .chkHamburguer{grid-area: B;}
            & .search-bar{grid-area: C;}
            & .users-info{grid-area: D;}

            & .list-elements{
                width: 60%;
                height: 100%;
                background-color: rgb(29, 116, 215, .9);
                position: fixed;
                left: -60%;
                top: 0;
                transition: left cubic-bezier(1,0,0,1) .8s;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: start;
                padding-top: 15vh;
                z-index: -1;

                & li{
                    transition: .5s;
                    &:hover{
                        scale: 1.5;
                    }
                    
                    & a{
                        color: #FFF;
    
                        &:hover{
                            color: #FFF;
                            text-decoration: underline;
                        }
                    }
                }

            }

            & h1, .search-bar, .users-info{
                z-index: -2;
            }
        }
    }
}

/* DESKTOP */
@media (min-width: 800px){
    .home{
        & img {
            height: 85rem;
        }
        
        & .infos-home{
            width: 60% !important;
            text-align: start !important;
            align-items: flex-start !important;
            justify-content: center;
    
            & h1{
                font-size: 10rem !important;
                line-height: 10rem !important;
            }
        }
    }

    .list-new-products{
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .list-categories{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;

        & .category {
            height: 35rem !important;
        }
    }

    .list-spotlight{
        grid-template-columns: repeat(2, 1fr) !important;
        height: 50rem !important;
    }

    .list-feedbacks{
        grid-template-columns: repeat(4, 1fr);
    }

    footer{
        gap: 8rem !important;

        & .subscribe{
            grid-template-columns: 1fr 1fr;

            & .grid-text{
                grid-template-rows: max-content 1fr;
            }
        }

        & .business-information{
            grid-template-columns: repeat(4, 1fr);

            & .wrap-navs-footer{
                border-left: 5px solid white;
                padding-left: 2rem;
            }
        }

        & .last-infos{
            grid-template-columns: 1fr 1fr;
            border-top: 1px solid #FFF;
            padding-top: 2rem;

            & .payments-information{
                grid-template-columns: max-content 1fr;
                gap: 3rem;
            }
        }
    }
}