<div class="bg">
  <div class="container">
    <div class="form">
      <h1>Fier</h1>
      <div class="form-toggle">
        <button type="button" (click)="setClient(true)" [class.active]="isClient">Cliente</button>
        <button type="button" (click)="setClient(false)" [class.active]="!isClient">Fornecedor</button>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" #formDir="ngForm">
        <input name="name" type="text" placeholder="Nome" required formControlName="name">
        <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="name.errors?.['required']" >Esse campo é obrigatório!</p>
        </div>
        <input name="email" type="email" placeholder="E-mail" required formControlName="email">
        <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="email.errors?.['required']" >Esse campo é obrigatório!</p>
          <p *ngIf="email.errors?.['email']" >Digite um email válido!</p>
        </div>
        <input name="phoneNumber" type="number" placeholder="Telefone" required formControlName="phoneNumber">
        <div *ngIf="phoneNumber.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="phoneNumber.errors?.['required']" >Esse campo é obrigatório!</p>
        </div>
        
        <ng-container *ngIf="isClient; else supplierFields">
          <input name="cpf" type="text" placeholder="CPF" required formControlName="cpf">
          <div *ngIf="cpf.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="cpf.errors?.['required']" >Esse campo é obrigatório!</p>
          </div>
        </ng-container>
        <ng-template #supplierFields>
          <input name="cnpj" type="text" placeholder="CNPJ" required formControlName="cnpj">
          <div *ngIf="cnpj.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="cnpj.errors?.['required']" >Esse campo é obrigatório!</p>
          </div>
        </ng-template>
        
        <input name="password" type="password" placeholder="Senha" required formControlName="password">
        <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="password.errors?.['required']" >Esse campo é obrigatório!</p>
        </div>
        <input name="confirmPassword" type="password" placeholder="Confirmar senha" required formControlName="confirmPassword">
        <div *ngIf="confirmPassword.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="confirmPassword.errors?.['required']" >Esse campo é obrigatório!</p>
        </div>
        <p>Ao criar sua conta, você confirma que leu e concorda com os <span>termos de uso</span> da Fier</p>
        <button type="submit">Criar conta</button>
        <p>Já possui conta? Faça o <span><a [routerLink]="['/login']">Login</a></span></p>
      </form>
    </div>
  </div>
</div>
