<div class="bg">
  <div class="container">
    <div class="form">
      <h1>Fier</h1>
      <div class="form-toggle">
        <button type="button" (click)="isClient = true" [class.active]="isClient">Cliente</button>
        <button type="button" (click)="isClient = false" [class.active]="!isClient">Fornecedor</button>
      </div>
      <form (ngSubmit)="onSubmit()">
        <input [(ngModel)]="user.name" name="name" type="text" placeholder="Nome">
        <input *ngIf="isClient" [(ngModel)]="user.lastname" name="lastname" type="text" placeholder="Sobrenome">
        <input [(ngModel)]="user.email" name="email" type="email" placeholder="E-mail">
        <input [(ngModel)]="user.phoneNumber" name="phoneNumber" type="text" placeholder="Telefone">
        
        <ng-container *ngIf="isClient; else supplierFields">
          <input [(ngModel)]="user.cpf" name="cpf" type="text" placeholder="CPF">
        </ng-container>
        <ng-template #supplierFields>
          <input [(ngModel)]="user.cnpj" name="cnpj" type="text" placeholder="CNPJ">
        </ng-template>
        
        <input [(ngModel)]="user.password" name="name" type="password" placeholder="Senha">
        <input [(ngModel)]="user.confirmPassword" name="name" type="password" placeholder="Confirmar senha">
        <p>Ao criar sua conta, você confirma que leu e concorda com os <span>termos de uso</span> da Fier</p>
        <button type="submit">Criar conta</button>
        <p>Já possui conta? Faça o <span><a [routerLink]="['/login']">Login</a></span></p>
      </form>
    </div>
  </div>
</div>
