.product-register-container{
    margin: 5rem 2.5rem;
    padding: 2.5rem;
    border: 1px solid #DDD;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    display: grid;
    gap: 2rem;

    & h1{
        font-size: 2.5rem;
        border-bottom: 1px solid #DDD;
        color: #818181;
        font-weight: 500;
        padding-bottom: 1rem;
    }
    
    & .wrap-inputs{
        display: grid;
        grid-template: 
        "input1 input2 input3 input4"
        "input5 input5 input5 input5"
        "input6 input6 input6 input6"
        "file1 file file action";
        gap: 2rem;

        & .box{
            display: grid;
            gap: .5rem;

            & p.title-item{
                font-size: 1.5rem;
                color: #818181;
            }
    
            & .textarea-input{
                resize: none;
                height: 10rem !important;
                padding: 1rem;
                color: #818181;
            }
    
            & .form-field{
                width: 100%;
                height: 4rem;
                border: 1px solid #DDD;
                border-radius: .5rem;
                color: #818181;
                padding-left: 1rem;
                font-size: 1.5rem;
            }
        }
        
        & .box-name-product{ grid-area: input1; }
        & .box-price-min-product{ grid-area: input2; }
        & .box-price-max-product{ grid-area: input3; }
        & .box-category-product{ grid-area: input4; }
        & .box-description-product{ grid-area: input5; }
        & .box-specification-product{ grid-area: input6; }
        & .box-documents-product{ grid-area: file1; }

        & .wrap-btns-actions{
            display: flex;
            gap: 1rem;
            grid-area: action;
            align-items: end;
            width: 100%;
            justify-content: end;

            & .btn-action{
                border: none;
                border-radius: .5rem;
                padding: 1rem 2rem;
                display: flex;
                align-items: center;
                gap: .5rem;
                font-size: 1.3rem;

                &.save{
                    background-color: #008f24;
                    color: #FFF;
                    transition: 1s ease;

                    &:hover{
                        background-color: #01701d;
                        cursor: pointer;
                    }
                }

                &.clear{
                    background-color: #FFA500	;
                    color: #FFF;
                    transition: 1s ease;

                    &:hover{
                        background-color: #db8f00;
                        cursor: pointer;
                    }
                }

                & .ph-thin{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

.validation-error {
    color: red;
}