<div class="main-login">
  <div class="login-container" id="container">
    <!--//------- FORMULÁRIO DE LOGIN -------//-->
    <div class="form-container sign-in">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" #formDir="ngForm">
        <h1>Acesse sua conta</h1>

        <div class="wrap-radio">
          <label for="rdCustomer">
            <input type="radio" name="rdClientType" id="rdCustomer" (click)="setClient(true)" checked>
            <span>Cliente</span>
          </label>
          <label for="rdSupplier">
            <input type="radio" name="rdClientType" id="rdSupplier" (click)="setClient(false)">
            <span>Fornecedor</span>
          </label>
        </div>

        <input *ngIf="isClient" name="cpf" type="number" placeholder="CPF" autocomplete="off" required class="form-field" formControlName="cpf"/>
        <div *ngIf="cpf.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="cpf.errors?.['required']" >Esse campo é obrigatório!</p>
        </div>

        <input *ngIf="!isClient" name="cnpj" type="number" placeholder="CNPJ" autocomplete="off" required class="form-field" formControlName="cnpj"/>
        <div *ngIf="cnpj.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="cnpj.errors?.['required']" >Esse campo é obrigatório!</p>
        </div>

        <input name="password" type="password" placeholder="Senha" autocomplete="new-password" required class="form-field" formControlName="password"/>
        <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="password.errors?.['required']" >Esse campo é obrigatório!</p>
        </div>
        
        <a href="#">Esqueceu sua senha?</a>
        <button type="submit" class="btn-primary">Entrar</button>
      </form>
    </div>

    <!--//------- TOGGLE -------//-->
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-right">
          <h1>Olá!</h1>
          <p>Cadastre-se para utilizar todos os recursos da nossa plataforma</p>
          <button class="btn-primary hidden" id="register" [routerLink]="['/register']">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="bg">
  <div class="container">
    <div class="form">
      <h1>Fier</h1>
      <div class="form-toggle">
        <button type="button" (click)="setClient(true)" [class.active]="isClient">Cliente</button>
        <button type="button" (click)="setClient(false)" [class.active]="!isClient">Fornecedor</button>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" #formDir="ngForm">
        <input
          *ngIf="isClient"
          name="cpf"
          type="number"
          placeholder="CPF"
          autocomplete="off"
          required
          formControlName="cpf"
        />
        <div *ngIf="cpf.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="cpf.errors?.['required']" >Esse campo é obrigatório!</p>
        </div>
        <input
          *ngIf="!isClient"
          name="cnpj"
          type="number"
          placeholder="CNPJ"
          autocomplete="off"
          required
          formControlName="cnpj"
        />
        <div *ngIf="cnpj.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="cnpj.errors?.['required']" >Esse campo é obrigatório!</p>
        </div>
        <input
          name="password"
          type="password"
          placeholder="Senha"
          autocomplete="new-password"
          required
          formControlName="password"
        />
        <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="password.errors?.['required']" >Esse campo é obrigatório!</p>
        </div>
        <button type="submit">Entrar</button>
      </form>
      <p class="linkToRegister" >Não possui conta? <span><a class="linkToRegister" [routerLink]="['/register']" >Cadastrar</a></span></p>
    </div>
  </div>
</div>
-->