.container-received-bids{
    margin: 5rem 5rem;
    padding: 2.5rem;
    border: 1px solid #DDD;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    display: grid;
    gap: 2rem;

    & h1{
        font-size: 2.5rem;
        border-bottom: 1px solid #DDD;
        color: #818181;
        font-weight: 500;
        padding-bottom: 1rem;
    }

    & .filter-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr .3fr;
        gap: 2rem;
        padding-block: 2rem;

        & .box{
            display: grid;
            gap: .5rem;

            & p.title-item{
                font-size: 1.5rem;
                color: #818181;
            }
    
            & .textarea-input{
                resize: none;
                height: 10rem !important;
                padding: 1rem;
                color: #818181;
            }
    
            & .form-field{
                width: 100%;
                height: 4rem;
                border: 1px solid #DDD;
                border-radius: .5rem;
                color: #818181;
                padding-left: 1rem;
                font-size: 1.5rem;
            }
        }

        & .btn-filter{
            width: 100%;
            height: 4rem;
            text-align: center;
            align-self: end;
            border: none;
            border-radius: 1rem;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            background: #1D74D7;
            color: #FFF;
            cursor: pointer;
            transition: 1s ease-in-out;

            &:hover{
                background-color: #3a8eed;
            }
        }
    }

    & .tbl-received-bids{
        width: 100%;
        text-align: center;
        display: grid;

        & .thead{
            & .tr{
                display: grid;
                grid-template-columns: .8fr .5fr .5fr .5fr .7fr 1fr;

                & .th{
                    font-size: 1.6rem;
                    font-weight: 400;
                    padding-block: 1rem;
                }
            }
        }
    }
}