<app-header (searchChanged)="onSearchChange($event)" ></app-header>
 <section class="search-products-container">
  <h2>All products</h2>
  
  <div class="search-content">
      <div class="filter-container">
          <div class="wrap-filter">
              <h3>Browse By</h3>

              <div class="list-items">
                  <span>All Products</span>
                  <span>Top Sellers</span>
                  <span>New Products</span>
                  <span>Sale</span>
              </div>
          </div>

          <div class="wrap-filter">
              <h3>Product Type</h3>

              <div class="list-items">
                  <label>
                      <input type="checkbox" (change)="onCheckboxChange($event, 'Computers Tablets')" >
                      <span>Computers</span>
                  </label>

                  <label>
                      <input type="checkbox" (change)="onCheckboxChange($event, 'Drones & Cameras')">
                      <span>Drones & Cameras</span>
                  </label>

                  <label>
                      <input type="checkbox" (change)="onCheckboxChange($event, 'Headphones & Speakers')">
                      <span>Headphones and Speakers</span>
                  </label>

                  <label>
                      <input type="checkbox" (change)="onCheckboxChange($event, 'Mobile & Wearable Tech')">
                      <span>Mobile and Wearable Tech</span>
                  </label>

                  <label>
                      <input type="checkbox" (change)="onCheckboxChange($event, 'TV & Home Cinema')">
                      <span>TV and Home Cinema</span>
                  </label>

                  <label>
                      <input type="checkbox" (change)="onCheckboxChange($event, 'Smartphones')">
                      <span>Smartphones</span>
                  </label>
              </div>
          </div>

          <div class="wrap-filter">
              <h3>Color</h3>

              <div class="list-color">
                  <p class="black"></p>
                  <p class="blue"></p>
                  <p class="green"></p>
                  <p class="orange"></p>
                  <p class="purple"></p>
                  <p class="red"></p>
              </div>
          </div>
      </div>

      <div class="list-products-container">
          <div class="products-total">
              <p>Total de produtos: {{ products.length }}</p>
              <button (click)="clearSearchProducts()">Limpar categorias</button>
          </div>

          <div class="products-list">
            <app-card-product
                *ngFor="let product of products"
                [image]="product.image"
                [description]="product.description"
                [name]="product.name"
                [price]="product.price"
                [totalRating]="product.totalRating"
                [avgRating]="product.avgRating"
            ></app-card-product>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>