<app-header></app-header>
 <section class="search-products-container">
  <h2>All products</h2>
  
  <div class="search-content">
      <div class="filter-container">
          <div class="wrap-filter">
              <h3>Browse By</h3>

              <div class="list-items">
                  <span>All Products</span>
                  <span>Top Sellers</span>
                  <span>New Products</span>
                  <span>Sale</span>
              </div>
          </div>

          <div class="wrap-filter">
              <h3>Product Type</h3>

              <div class="list-items">
                  <label>
                      <input type="checkbox">
                      <span>Computers</span>
                  </label>

                  <label>
                      <input type="checkbox">
                      <span>Drones & Cameras</span>
                  </label>

                  <label>
                      <input type="checkbox">
                      <span>Headphones and Speakers</span>
                  </label>

                  <label>
                      <input type="checkbox">
                      <span>Mobile and Wearable Tech</span>
                  </label>

                  <label>
                      <input type="checkbox">
                      <span>New Products</span>
                  </label>

                  <label>
                      <input type="checkbox">
                      <span>Tablets</span>
                  </label>

                  <label>
                      <input type="checkbox">
                      <span>Top Sellers</span>
                  </label>

                  <label>
                      <input type="checkbox">
                      <span>TV & Home Cinema</span>
                  </label>
              </div>
          </div>

          <div class="wrap-filter">
              <h3>Color</h3>

              <div class="list-color">
                  <p class="black"></p>
                  <p class="blue"></p>
                  <p class="green"></p>
                  <p class="orange"></p>
                  <p class="purple"></p>
                  <p class="red">
              </div>
          </div>
      </div>

      <div class="list-products-container">
          <div class="products-total">
              <p>Total de produtos: 10</p>
          </div>

          <div class="products-list">
              <div class="wrap-product">
                  <div class="product-img">
                      <img src="assets/images/produto1.png" alt="Imagem de uma caixinha de bluetooth">
                  </div>
                  
                  <div class="product-info">
                      <p>Round Mini Portable Bluetooth Speaker</p>
                      <span>$ 85.00</span>
                      <span class="rating"><i class="ph-fill ph-star"></i> 4.1 (100)</span>
                  </div>
              </div>
      
              <div class="wrap-product">
                  <div class="product-img">
                      <img src="assets/images/produto2.png" alt="Imagem de uma caixinha de bluetooth">
                  </div>
      
                  <div class="product-info">
                      <p>OVE Light Space 5G, 128GB</p>
                      <span>$ 85.00</span>
                      <span class="rating"><i class="ph-fill ph-star"></i> 4.1 (100)</span>
                  </div>
              </div>
      
              <div class="wrap-product">
                  <div class="product-img">
                      <img src="assets/images/produto3.png" alt="Imagem de uma caixinha de bluetooth">
                  </div>
      
                  <div class="product-info">
                      <p>Round Mini Portable Bluetooth Speaker</p>
                      <span>$ 85.00</span>
                      <span class="rating"><i class="ph-fill ph-star"></i> 4.1 (100)</span>
                  </div>
              </div>
      
              <div class="wrap-product">
                  <div class="product-img">
                      <img src="assets/images/produto4.png" alt="Imagem de uma caixinha de bluetooth">
                  </div>
                  
                  <div class="product-info">
                      <p>Round Mini Portable Bluetooth Speaker</p>
                      <span>$ 85.00</span>
                      <span class="rating"><i class="ph-fill ph-star"></i> 4.1 (100)</span>
                  </div>
              </div>
      
              <div class="wrap-product">
                  <div class="product-img">
                      <img src="assets/images/produto1.png" alt="Imagem de uma caixinha de bluetooth">
                  </div>
                  
                  <div class="product-info">
                      <p>Round Mini Portable Bluetooth Speaker</p>
                      <span>$ 85.00</span>
                      <span class="rating"><i class="ph-fill ph-star"></i> 4.1 (100)</span>
                  </div>
              </div>
      
              <div class="wrap-product">
                  <div class="product-img">
                      <img src="assets/images/produto2.png" alt="Imagem de uma caixinha de bluetooth">
                  </div>
      
                  <div class="product-info">
                      <p>OVE Light Space 5G, 128GB</p>
                      <span>$ 85.00</span>
                      <span class="rating"><i class="ph-fill ph-star"></i> 4.1 (100)</span>
                  </div>
              </div>
      
              <div class="wrap-product">
                  <div class="product-img">
                      <img src="assets/images/produto3.png" alt="Imagem de uma caixinha de bluetooth">
                  </div>
      
                  <div class="product-info">
                      <p>Round Mini Portable Bluetooth Speaker</p>
                      <span>$ 85.00</span>
                      <span class="rating"><i class="ph-fill ph-star"></i> 4.1 (100)</span>
                  </div>
              </div>
      
              <div class="wrap-product">
                  <div class="product-img">
                      <img src="assets/images/produto4.png" alt="Imagem de uma caixinha de bluetooth">
                  </div>
                  
                  <div class="product-info">
                      <p>Round Mini Portable Bluetooth Speaker</p>
                      <span>$ 85.00</span>
                      <span class="rating"><i class="ph-fill ph-star"></i> 4.1 (100)</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>