:root {
  font-size: 62.5%; /* 10px = 1rem */

  --bg-color: #FAFAFA;
  --placeholder-color: #333;
  --btn-color: #0D6EDE;
  --btn-hover-color: #0056b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
}

.btn{
  border: none;
  padding: 1.2rem 4rem;
  border-radius: 3rem;
  transition: 0.5s;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn-primary{
  background-color: #1D74D7;
  color: #FFF;

  &:hover{
      background-color: #FFF;
      color: #1D74D7;
      border: 1px solid #1D74D7;
  }
}

.btn-second{
  background: none;
  border: 1px solid #FFF;
  color: #FFF;

  &:hover{
      background-color: #FFF;
      border: 1px solid #1D74D7;
      color: #1D74D7;
  }
}

.btn-third{
  background: #FFF;
  border: 1px solid #1D74D7;
  color: #1D74D7;

  &:hover{
      background-color: #1D74D7;
      border: none;
      color: #FFF;
  }
}

.btn-large{
  width: 100%;
}

.title{
  font-size: 3.5rem;
}

/* Setinhas do input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

