<div class="wrap-product">
    <div class="product-img">
        <!-- <img src="{{ image }}" alt="{{ description }}"> -->
        <img src="assets/images/produto2.png" alt="{{ description }}">
    </div>
    
    <div class="product-info">
        <p>{{ name }}</p>
        <span>{{ price | currency:'BRL' }}</span>
        <!-- <span class="rating"><i class="ph-fill ph-star"></i> {{ avgRating }} ({{ totalRating }})</span> -->
        <span class="rating"><i class="ph-fill ph-star"></i> 5 (10)</span>
    </div>
</div>