<app-spinner></app-spinner>
<div class="tr {{ classRow }}">
    <div class="td bid-product">{{ bid.product || 'Iphone 16 Pro Max'}}</div>
    <!-- <div class="td bid-customer-name">{{ bid.customer }}</div> -->
    <div class="td bid-price">{{ bid.auctionPrice | currency:'BRL' }}</div>
    <div class="td bid-date">{{ bid.date || DateUtc}}</div>
    <div class="td bid-status">{{ bid.status || 'Aguardando resposta'}}</div>
    <div class="td bid-actions">
        <button class="btn-bid accept-bid" (click)="acceptPropose()" disabled="bid.status == 'Aprovado'  || 'Reprovado'">Aceitar Proposta</button>
        <button class="btn-bid refuse-bid" (click)="refusePropose()" disabled="bid.status == 'Aprovado'  || 'Reprovado'">Recusar Proposta</button>
    </div>
</div>
