<div class="tr {{ classRow }}">
    <div class="td bid-product">{{ bid.product}}</div>
    <div class="td bid-customer-name">{{ bid.customer }}</div>
    <div class="td bid-price">{{ bid.price | currency:'BRL' }}</div>
    <div class="td bid-date">{{ bid.date }}</div>
    <div class="td bid-status">{{ bid.status }}</div>
    <div class="td bid-actions">
        <button class="btn-bid accept-bid">Aceitar Proposta</button>
        <button class="btn-bid refuse-bid">Recusar Proposta</button>
    </div>
</div>